@import "../../global.scss";

.portfolio {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;

    h1 {
        font-size: 50px;
        // border: 1px solid red;

        @include tablet {
            font-size: 25px;
        }
    }

    ul {
        margin: 20px;
        padding: 0;
        list-style: none;
        display: flex;
        // border: 1px solid red;

        
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
        }

        .portfolioList {
            font-style: 14px;
            margin-right: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            &.active {
                background-color: $mainColor;
                color: #fff;
            }
        }
    }

    .container {
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        // border: 1px solid red;

        
        @include tablet {
            width: 100%;
        }


        .item {
            width: 280px;
            height: 190px;
            border-radius: 20px;
            border: 1px solid rgb(240, 239, 239);
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            position: relative;
            transition: all 0.5s ease ;
            // border: 1px solid red;
            cursor: pointer;

            
        @include tablet {
            width: 150px;
        }

            h3 {
                position: absolute;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover {
                background-color: $mainColor;

                img {
                    opacity: 0.2;
                    z-index: 0;
                }

            }
        }
    }
}